.project
.settings
.idea

.DS_Store
/*/.DS_Store
/*/*.DS_Store

/target
/*/target
/*/*/target
/*/*/*/target

/.project
/*/.project
/*/*/.project
/*/*/*/.project

/.classpath
/*/.classpath
/*/*/.classpath
/*/*/*/.classpath

*.iml
/*.iml
/*/*.iml
/*/*/*.iml
/*/*/*/*.iml

.settings
/*/.settings
/*/*/.settings
/*/*/*/.settings

